<ion-view view-title="登陆界面">
  <ion-content class="padding">
    <div class="list list-inset">
    	<div class="box">
    		<img src="img/log.png" alt="" class="logs" />
    	</div>
		  <label class="item item-input item-icon-left">
		  	<i class="icon ion-android-phone-portrait"></i>
		    <input type="text" placeholder="请输入您的手机号">
		  </label>
		  <label class="item item-input item-icon-left">
		  	<i class="icon ion-android-lock"></i>
		    <input type="text" placeholder="请输入8位以上数字和字母组合">
		  </label>
		  <button class="button button-stable submit" style="background: #fc6e26;color: white;border-radius: 20px;" ng-click="tz_person()">登陆</button>
		</div>
  </ion-content>
</ion-view>
