<ion-view view-title="个人中心" hide-tabs="true">
	<style>
		.person_menus i{
			color: #fc6e26;
			padding-left: 10%;
		}
		.person_menus span{
			padding-left: 20%;
		}
		.big_box{
			background: #fc6e26;
			color: white;
			margin-bottom: 1rem;
		}
	</style>
  <ion-content>
    <div class="big_box">
    	<div class="row">
	    	<div class="col col-35"></div>
	    	<div class="col col-30">
	    		<img src="../img/mike.png" alt="" style="width: 100%;height: auto;border-radius: 50%;margin-top: 0.5rem;"/>
	    	</div>
	    	<div class="col col-35"></div>
	    </div>
	    <div class="list" style="text-align: center;margin-bottom: 0;">
	    	<span>资产总计(元)</span>
	    	<h2 style="color: white;">20,000.00</h2>
	    </div>
	    <div class="row" style="text-align: center;border-top: 1px solid white;">
	    	<div class="col col-50">
	    		<span>累计收益(元)</span>
	    		<h3 style="color: white;">800.00</h3>
	    	</div>
	    	<div class="col col-50">
	    		<span>账户余额(元)</span>
	    		<h3 style="color: white;">7900.00</h3>
	    	</div>
	    </div>
    </div>
    <div class="list person_menus">

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-email"></i>
		    <span>个人资料</span>
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-mic-a"></i>
		    <span>语音控制</span>
		    <span class="item-note" style="color: #000000;">
		      Siri
		    </span>
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-person-stalker"></i>
		    <span>好友列表</span>
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-stats-bars"></i>
		    <span>理财中心</span>
		  </a>

		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-lock-combination"></i>
		    <span>安全设置</span>
		  </a>

		</div>
  </ion-content>
</ion-view>
