<ion-view view-title="产品">
  <ion-content class="body">
    <div class="states" ng-repeat="lilv in products">
    	<h4 class="titles">投资理财{{lilv.products}}期</h4>
    	<div class="row">
    		<div class="col col-30">
    			<h1 style="color: orangered;">
    				<i style="font-size: 50px;">{{lilv.profit}}</i>
    				<span style="font-size: 20px;">%</span>
    			</h1>
    			<p style="color: darkgray;">年化收益率</p>
    		</div>
    		<div class="col col-70">
    			<ul class="cards">
    				<li style="border: 3px solid red;"></li>
    				<li style="border: 3px solid blue;"></li>
    				<li style="border: 3px solid orange;"></li>
    			</ul>
    			<ul class="text state">
    				<li>状态</li>
    				<li>起投金额</li>
    				<li>期限</li>
    			</ul>
    			<ul class="text">
    				<li>{{lilv.state}}</li>
    				<li>{{lilv.money}}</li>
    				<li>{{lilv.time}}</li>
    			</ul>
    			<a href="" class="icon ion-chevron-right rights"></a>
    		</div>
    	</div>
    </div>
  </ion-content>
</ion-view>
